.m2m-TopBar {
    height: 3rem;
    width: 100%;
    background-color: rgba(245, 246, 247);
    display: flex;
    font-family: "Nunito Sans", Arial, sans-serif;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.m2m-TopBar > div {
    color: #333333;
    font-size: 1rem;
    font-weight: 700;
}