.m2m-MapSet {
    display: flex;
    width: 100%;
    height: 100%;
    grid-gap: .05rem;
    background: #bbbbbb;
}

.m2m-MapSet.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.m2m-MapSet.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (orientation: portrait) {
    .m2m-MapSet {
        flex-direction: column;
    }
    .m2m-MapSet.col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .m2m-MapSet.col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}