.m2m-MapSet {
    display: flex;
    width: 100%;
    height: 100%;
    grid-gap: .05rem;
    background: #bbbbbb;

    @media (orientation: portrait) {
        flex-direction: column;
    }

    &.has-2-columns, &.has-3-columns {
        display: grid;
    }

    &.has-2-columns {
        grid-template-columns: 1fr 1fr;
    }

    &.has-3-columns {
        grid-template-columns: 1fr 1fr 1fr;

        @media (orientation: portrait) {
            grid-template-columns: 1fr;
        }
    }
}